@use "../../main.scss" as *;

.container {
  @include flex;
  border-top: 1px solid var(--color-tertiary);
  border-bottom: 1px solid var(--color-tertiary);
  background-color: var(--background-tertiary);
}

.input {
  flex-grow: 1;
  padding: 0.7rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--color-primary);
}

.button {
  padding: 0.7rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @include flex;
  align-items: center;
  color: var(--color-primary);

  &:disabled {
    color: var(--color-tertiary);
  }
}
