@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-tertiary: #cfcfcf;
  --accent: #011efe;
  --background-primary: #ffffff;
  --background-secondary: #e8f6ff;
  --background-tertiary: #eeeeee;
}

@font-face {
  font-family: roboto-regular;
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf");
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: rgb(245, 253, 255);
  align-items: center;
  justify-content: center;
  @include flex;
}

* {
  font-family: roboto-regular, sans-serif;
}
